USE [master]
GO
/****** Object:  Database [ISPManagement]    Script Date: 08-Sep-26 11:46:13 AM ******/
CREATE DATABASE [ISPManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ISPManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ISPManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ISPManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ISPManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ISPManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ISPManagement]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 08-Sep-26 11:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[email] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[plan_id] [int] NOT NULL,
	[status] [varchar](50) NULL,
	[payment_date] [varchar](50) NOT NULL,
	[expire_date] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 08-Sep-26 11:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [varchar](50) NULL,
	[month] [varchar](50) NULL,
	[amount] [decimal](10, 2) NULL,
	[note] [varchar](255) NULL,
	[payment_date] [date] NULL,
	[discount] [decimal](10, 2) NULL,
	[tax] [decimal](10, 2) NULL,
	[bulling_date] [date] NULL,
	[total_bill] [decimal](10, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyReport]    Script Date: 08-Sep-26 11:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyReport](
	[id] [int] NOT NULL,
	[month_year] [date] NOT NULL,
	[total_collection] [int] NOT NULL,
 CONSTRAINT [PK_MonthlyReport] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 08-Sep-26 11:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[invoice_id] [int] NOT NULL,
	[amount] [int] NOT NULL,
	[Payment_method] [varchar](50) NOT NULL,
	[payment_date] [date] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plans]    Script Date: 08-Sep-26 11:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plans](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[speed_mbps] [varchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[billing_cycle] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Plans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08-Sep-26 11:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([id], [name], [username], [password], [phone], [email], [address], [plan_id], [status], [payment_date], [expire_date]) VALUES (1013, N'Rafiul Islam', N'U-1013', N'1234', N'01710000008', N'rafiul@gmail.com', N'Rampura, Dhaka', 2, N'Inactive', N'Sep  8 2026  9:36AM', N'Jan  8 2027 11:22AM')
INSERT [dbo].[Customer] ([id], [name], [username], [password], [phone], [email], [address], [plan_id], [status], [payment_date], [expire_date]) VALUES (1014, N'sajid', N'U-1014', N'1234', N'01711111111', N'ass@gasd', N'a,c,d,s', 1, N'Active', N'Sep  8 2026 10:02AM', N'Nov  8 2026 11:04AM')
INSERT [dbo].[Customer] ([id], [name], [username], [password], [phone], [email], [address], [plan_id], [status], [payment_date], [expire_date]) VALUES (1015, N'sajid2', N'U-1015', N'1234', N'01010101010', N'sa@dawd', N'dsada', 4, N'Active', N'Sep  8 2026 10:10AM', N'Sep  8 2026 10:10AM')
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([id], [customer_id], [month], [amount], [note], [payment_date], [discount], [tax], [bulling_date], [total_bill]) VALUES (8, N'1013', N'4', CAST(4800.00 AS Decimal(10, 2)), N'', CAST(N'2026-09-08' AS Date), CAST(100.00 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)), CAST(N'2027-01-08' AS Date), CAST(4800 AS Decimal(10, 0)))
INSERT [dbo].[Invoice] ([id], [customer_id], [month], [amount], [note], [payment_date], [discount], [tax], [bulling_date], [total_bill]) VALUES (9, N'1016', N'3', CAST(7500.00 AS Decimal(10, 2)), N'', CAST(N'2026-09-08' AS Date), CAST(1000.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), CAST(N'2026-12-08' AS Date), CAST(7500 AS Decimal(10, 0)))
INSERT [dbo].[Invoice] ([id], [customer_id], [month], [amount], [note], [payment_date], [discount], [tax], [bulling_date], [total_bill]) VALUES (10, N'1016', N'1', CAST(2500.00 AS Decimal(10, 2)), N'', CAST(N'2026-09-08' AS Date), CAST(2000.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(N'2026-10-08' AS Date), CAST(2500 AS Decimal(10, 0)))
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
INSERT [dbo].[MonthlyReport] ([id], [month_year], [total_collection]) VALUES (1, CAST(N'2026-01-01' AS Date), 125000)
INSERT [dbo].[MonthlyReport] ([id], [month_year], [total_collection]) VALUES (2, CAST(N'2026-02-01' AS Date), 132500)
INSERT [dbo].[MonthlyReport] ([id], [month_year], [total_collection]) VALUES (3, CAST(N'2026-03-01' AS Date), 141000)
GO
INSERT [dbo].[Plans] ([id], [name], [speed_mbps], [price], [billing_cycle]) VALUES (1, N'Basic', N'50 Mbps', 800, N'Monthly')
INSERT [dbo].[Plans] ([id], [name], [speed_mbps], [price], [billing_cycle]) VALUES (2, N'Standard', N'100 Mbps', 1200, N'Monthly')
INSERT [dbo].[Plans] ([id], [name], [speed_mbps], [price], [billing_cycle]) VALUES (3, N'Premium', N'200 Mbps', 1800, N'Monthly')
GO
INSERT [dbo].[User] ([id], [name], [email], [phone], [password], [role]) VALUES (1, N'Sajid', N'sajid@gmail.com', N'N/A', N'1234', N'Admin')
INSERT [dbo].[User] ([id], [name], [email], [phone], [password], [role]) VALUES (3, N'shohag', N's@gmail.com', N'01985446107', N'1', N'Admin')
INSERT [dbo].[User] ([id], [name], [email], [phone], [password], [role]) VALUES (4, N'suvo', N'suvo@gmail.com', N'019', N'1234', N'employee')
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CK_Customer_Status] CHECK  (([status]='Inactive' OR [status]='Active'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CK_Customer_Status]
GO
USE [master]
GO
